.page-form{
    display: flex;
    /* border: .1rem solid #c27676; */
    row-gap: .5rem;
    flex-direction: column;
     width: 25%;
    margin: 0 auto;
}
.page-form .title {
    font-size: 1rem;
    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0 auto;
    /* margin: 0 1rem; */
    color: #61AAD1;
}
.page-form img {
    width: 100%;
    height: 35vh;
    padding-bottom: 1rem;
    border-radius: 1.2rem;
}
.page-form input{
    font-size: 1rem;
    border-radius: 0.4rem;
    border: 0.05rem solid lightgray;
    padding: 0.5rem 1rem;
}
.page-form textarea {
    font-size: 1rem;
    border-radius: 0.4rem;
    border: 0.05rem solid lightgray;
    padding: 0.8rem;
}
.page-form button {
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
    background-color: #61AAD1;
    padding-top: 1rem;
    padding: 0.8rem 1rem;
    border-radius: 0.4rem;
}
