
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #efefef;
    border-bottom: .1rem solid #738ca0;
  }

  .header h2 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    color:rgb(155, 4, 4);
    cursor: pointer;
    font-weight: 800;
  }

  .header button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
  }

  .header button:hover {
    background-color: #0056b3;
  }
  .contact{
    position: absolute;
    left: 80%;
  }